[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
isort = "*"
flake8 = "*"
ipython = "*"
ipdb = "*"
awscli = "*"

[packages]
django = "*"
psycopg2-binary = "*"
django-import-export = "*"
python-decouple = "*"
dj-database-url = "*"
dj-static = "*"
gunicorn = "*"
celery = {extras = ["sqs"],version = "*"}
django-celery-results = "*"
django-polymorphic = "*"
django-postgres-copy = "*"
importlib-metadata = "*"
boto3 = "*"
pycurl = "*"
django-s3-folder-storage = "*"

[requires]
python_version = "3.7"
